/* Theme Variables */
:root {
  --background-color: #000000;
  /* --text-color: #e70000; */
  --link-color: #2a70b6;
  --primary-color: #0073e5;
  /* --secondary-color: #f40c0c; */
  /* --footer-bg-color: #b60000; */
  --header-gradient: linear-gradient(90deg, #020202, #020202);
}

/* Base Styles */
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  line-height: 1.6;
}

h1, h2, h3 {
  color: var(--primary-color);
}

main {
  padding: 2rem;
  max-width: 800px;
  margin: 0 auto;
  text-align: left;
}

section {
  margin-bottom: 2rem;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--header-gradient);
  /* color: rgb(233, 23, 23); */
  padding: 1rem 2rem;
  font-size: 1.5rem;
  font-weight: bold;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header nav {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
/* !!! */
header nav a,
header nav button {
  background-color: transparent;
  /* color: rgb(221, 219, 219); */
  border: 2px solid #2c4e6f ;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease, color 0.3s ease;
  font-weight: bold;
}

header nav a:hover,
header nav button:hover {
  background-color: rgb(55, 112, 199);
  color: var(--primary-color);
  transform: scale(1.05);
}

.white-button {
  background-color: rgb(255, 255, 255);
  color: black;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  text-decoration: none;
  font-weight: bold;
}

.white-button:hover {
  background-color: #fafafa;
  transform: scale(1.05);
}

/* Footer */
footer {
  background-color: var(--footer-bg-color);
  color: rgb(223, 0, 0);
  text-align: center;
  padding: 1rem 0;
  margin-top: 2rem;
  font-size: 0.9rem;
}

/* Responsive */
@media (max-width: 768px) {
  header nav {
    flex-direction: column;
  }

  main {
    padding: 1rem;
  }
}

.white-text {
  color: white;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 8%;
  background-color: black; /* Ensure the entire navbar is black */
  color: white;
  position: fixed;
  width: 100%;
  height: 50px; /* Adjust the height as needed */
  top: 0;
  z-index: 999;
}

.logo {
  font-size: 1.8rem;
  font-weight: bold;
  color: white; /* Ensure the logo text is white */
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.nav-links a {
  color: white; /* Ensure the links are white */
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #c2a639; /* Optional: Change hover color to yellow or another color */
}